body{
    margin: 0px 80px;
    font-family: Arial, Helvetica, sans-serif;

}

/*header*/
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header {
   width: 100%;
 
}   

header img{
    margin: 40px 35%;
}
nav ul {
    display:flex;
    justify-content: space-between;
    margin: 10px 0;
    box-shadow: 0px 6px 6px rgba(0,0,0, 0.25);
}
nav ul li{
    list-style: none;
    margin: 20px;
}



nav ul li a{
    text-decoration:none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 22px;
}

/* nav ul li a:hover{
    color: cadetblue;
}
.sub-lista{
    display: none;
}

.sub-lista:hover{
    display: inline;
    float: left;
}
.sub-lista li a{
    font-size: 10px;

}
 */
table{
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 10px;

}

table td a{
    color: black;
    text-decoration: none;
    font-size: 20px;

}
table td .btn{
    border: 1px solid black;
    padding: 5px;
    background-color: burlywood;
    color: coral;
    text-decoration: none;
    font-size: 12px;
}

table td .btn:hover{
    background-color: darkcyan;
}
/* 
.ocultaEditar{
    display: none;
}

.ocultaAgregar{
    display: none;
} */

footer{
    display: flex;
    justify-content: center;
    color: cornsilk;
    background-color: #69585f60;
    height: 200px;
    width: 100%;
    
}

footer p{
    justify-content: center;
}
